* {
  padding: 0;
  margin: 0;
  font-family: monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "Courier New", monospace;
  border: soild red 1px;
  box-sizing: border-box;
}

body{ 
  height: 100svh;
  background-image: url('./assets/wallpaper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 12px;
}

main {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.term-container, .input-container{
  display: flex;
}

.input-container {
  justify-self: stretch;
}

.term-container {
  align-self: stretch;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.focused{
  border: 1px lightblue solid
}

img {
  width: 30%
}

.terminal {
  position: relative;
  align-self: stretch;
  justify-self: stretch;
  background-color: rgba(0,0,30, .6);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  overflow: scroll;
  scrollbar-width: none;
}

.terminal::after {
   content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(6px);

}

input {
  outline: 0;
  border: none;
  color: white;
  padding-left: 7px;
  background-color: transparent;
  font-size: inherit;
  flex:1
}

.term-body > *, .term-body > * > *{
  width: 100%;
}

.prompt {
  color: #b0c0ff;
}

a {
  color: #c3e2FF;
}

.white {
  color: white;
}
.red {
  color: red;
}
.blue {
  color: #b0c0ff;
}
.yellow {
  color: yellow
}
.bold {
  font-weight: bolder;
}
.under-line {
  text-decoration: underline;
}
